version: "3.9"

services:
  backend:
    build: ./backend
    container_name: yt-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: yt-frontend
    ports:
      - "8501:8501"
    env_file:
      -./frontend/.env
    depends_on:
      - backend
    restart: always