version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: yt-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always
    networks:
      - yt-network

  frontend:
    build:
      context: ./frontend
    container_name: yt-frontend
    ports:
      - "8501:8501"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: always
    networks:
      - yt-network

networks:
  yt-network:
    driver: bridge
